* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-font: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  --text-color: #333333;
}
html {
  font-size: 62.5%;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}
/* ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} */
a {
  text-decoration: none;
  color: black;
}
input {
  font-family: var(--primary-font);
}
li {
  list-style-type: none;
}
.btn {
  outline: none;
  border: none;
  padding: 0 20px;
  height: 60px;
  border-radius: 10px;
  line-height: 1.2;
}
