header .same-price-container,
footer .same-price-container {
  margin: 0 auto;
}
.footer_content {
  margin-top: 0;
}
.same_price ul,
ol {
  padding-left: 0;
}
.same_price img {
  vertical-align: unset;
}

.same_price {
  text-align: left;
  width: 100%;
  margin-top: 61px;
  margin-bottom: 20px;
  font-size: 20px;
}
.main_header {
  background-color: #f4f4f4;
  padding: 0 0 20px;
}
.same_price .searchbar {
  width: 94%;
  height: 50px;
  padding: 15px;
}
.same_price .searchbar input {
  font-size: 14px !important;
}
.same_price .searchbar .btn {
  padding: 20px 5px;
}
.main_content > .same-price-container > .row {
  width: 100%;
}
.courses_category {
  padding: 10px;
  background-color: #e1e1e1;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: center;
}
.courses_category:hover {
  background-color: var(--main-color);
}

.grid_items {
  height: 295px;
}
.grid_items .course_content {
  margin: 5px 7px 2px 7px;
}
.btn-add-to-cart {
  color: #fff;
  text-align: center;
  background-color: #3289c0;
  text-align: center;
  padding: 8px 45px;
  border-radius: 5px;
}
.btn-add-to-cart:hover {
  background-color: var(--main-color);
  color: white;
}
.into-cart,
.into-cart:hover {
  background-color: #f58829;
  color: #fff;
  cursor: context-menu;
  width: 100%;
  margin: 0 3px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.join-class-btn {
  background-color: #0bb732;
  color: #fff;
  cursor: pointer;
  padding: 15px 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.join-class-btn:hover {
  background-color: #95eb26;
  color: #fff;
}
.join-class-btn div {
  margin: 0 10px;
}
.join-class-btn i {
  font-size: 20px !important;
}
.txt-add {
  font-size: 18px;
  font-weight: bold;
}
.txt-mem {
  font-size: 12px;
}
.load-more {
  padding-top: 50px;
  text-align: center;
}
.load-more .btn {
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  background-color: var(--main-color);
  height: fit-content;
}
.load-more .icon-loading{
  margin-right: 5px;
  animation: loading 1.5s linear infinite ;
  /* display: none; */
}
.load-more .btn:hover {
  background-color: #3289c0;
  color: #fff;
}
.btn {
  height: unset;
}
.row {
  --bs-gutter-x: 1.2rem;
  --bs-gutter-y: 0.5rem;
}
.added-announce {
  position: fixed;
  top: 35%;
  left: 38%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  width: 25%;
  padding: 60px 20px;
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  display: none;
  flex-direction: column;
  align-items: center;
  animation: fadeIn linear 0.3s;
}
.added-announce .check-icon {
  padding: 6px 8px;
  background-color: #17af85;
  border-radius: 40px;
  margin-bottom: 20px;
  width: fit-content;
}
.added-announce .check-icon i {
  font-size: 30px !important;
  color: #fff;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loading {
  from{
    transform: rotate(0deg);
  } to{
    transform: rotate(360deg);
  }
  
}

/* Tablet */
@media (min-width: 1024px) {
  .course_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow-y: hidden;
  }
}
