#form .wrap_input {
  margin-bottom: 0;
}
.facebook_btn {
  width: 100%;
}
#form h3 {
  margin-bottom: 20px;
}
#form .form-group {
  margin-bottom: 15px;
}
.or {
  margin: 5px 0;
}
.other {
  margin: 20px 0 5px 0;
}
