
header .container,footer .container {
    margin-left: 0;
}
.footer_content{
    margin-top: 0;
}
.same_price ul,ol{
    padding-left: 0;
}
.same_price img{
    vertical-align: unset;
}

.same_price {
    text-align: left;
    width: 100%;
    margin-top: 61px;
    margin-bottom: 20px;
    font-size: 20px;
}
  
.same_price .container{
    padding-left: 90px;
    margin-left: 90px;
}
.main_header{
    background-color: #f4f4f4;
    padding: 60px 0 20px;
    
}
.same_price .searchbar{
    width: 94%;
    height: 50px;
    padding:15px;
    margin-left: 0;
    
}
.same_price .searchbar  input{
    font-size: 14px;
}
.main_content > .container > .row{
    width: 95%;
}
.courses_category{
    padding: 10px;
    background-color: #e1e1e1;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
}
.grid_items{
    height: unset;

}
.btn-add-to-cart{
    color: #fff;
    text-align: center;
    background-color: #3289c0;
    text-align: center;
    padding: 8px 45px;
    border-radius: 5px;
}
.btn-add-to-cart:hover{
    background-color: red;
    color: yellow;
}
.txt-add{
    font-size: 18px;
    font-weight: bold;

}
.txt-mem{
    font-size: 12px;
}
.load-more{
    padding-top: 50px ;
    text-align: center;
}
.load-more .btn{
    padding:10px 30px;
    color:#333;
    font-size: 18px;
    background-color: #ccc;
    height: fit-content;
}
.load-more .btn:hover{
    background-color: #3289c0;
    color: #fff;
  }