<footer>
    <div class="footer_content">
      <div class="container">
        <div class="footer_column">
          <a href="#" class="footer_logo">
            <img src="/img/logo-unica.png" alt="">
          </a>
          <ul>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> 247 Cầu Giấy, Hà Nội</span>
            </li>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> P503, 20 Phan Đình Giót, P.2, Q. Tân Bình</span>
            </li>
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a href="tel:19001568" rel="nofollow"> 19001568</a>
            </li>
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a href="tel:0904886095" rel="nofollow"> 090 488 6095</a>
            </li>
            <li>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <span> cskh@unica.vn </span>
            </li>
            <li>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <span> 8:00 - 22:00 </span>
            </li>
          </ul>
        </div>
        <div class="footer_column">
          <h4>Về Unica</h4>
          <ul>
            <li><a href="#">Giới thiệu về Unica</a></li>
            <li><a href="#">Câu hỏi thường gặp</a></li>
            <li><a href="#">Điều khoản dịch vụ</a></li>
            <li><a href="#">Hướng dẫn thanh toán</a></li>
            <li><a href="#">Kích hoạt khóa học</a></li>
            <li><a href="#">Góc chia sẻ</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
          </ul>
        </div>
        <div class="footer_column">
          <h4>Hợp tác liên kết</h4>
          <ul>
            <li><a href="#">Đăng ký giảng viên</a></li>
            <li><a href="#">Giải pháp e-learning</a></li>
            <li><a href="#">Đào tạo doanh nghiệp</a></li>
            <li><a href="#">Affiliate</a></li>
            <li><a href="#">Agency</a></li>
          </ul>
        </div>
        <div class="footer_column">
          <h4>Tải app Unica</h4>
          <ul>
            <li><a href="https://itunes.apple.com/us/app/unica-online-learning/id1230853725?ls=1&mt=8"><img src="/img/appstore.png" alt="" class="appstore"></a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.inet.Learning"><img src="/img/playstore.png" alt=""class="googleplay"></a></li>
          </ul>
          <h4>Kết nối với Unica</h4>
            <a href="https://www.facebook.com/Unica.vn" class="footer_socical facebook"><i class="fa fa-facebook"></i></a></li>
            <a href="https://www.youtube.com/channel/UCrQoGDajCBs91atwgV8H6gw" class="footer_socical youtube"><i class="fa fa-youtube"></i></a>
          
        </div>
      </div>
    </div>
    <div class="footer_content_2">
      <div class="container copyright">
        <p>© Công ty cổ phần đào tạo trực tuyến Unica - ĐKKD: 0107695756 - Khóa học trực tuyến dành cho người đi làm</p>
        <a href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=27171" target="_blank" rel="nofollow"><img src="/img/bct.png"></a>
      </div>
    </div>
  </footer>
  <!-- hidden form logout -->
<form id="logout-form" action="/" method="POST"></form>

<script>
  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

  $ = document.querySelector.bind(document)
  $$ = document.querySelectorAll.bind(document)
  var loginState = getCookie('isLoggedIn')
  console.log('🚀 loginState', loginState)
  if (loginState == 'true') {
    var loginSuccessElement = $('#login-success')
    var loginBtn = $('#login')
    var signupBtn = $('#signup')
    var usernameElement = $('#username')
    var profileImg = $('.profile-img')
    var profileMenu = $('.profile-menu')
    var logoutBtn = $('#logout')
    var profileImg = $('.profile-img')
    var logoutForm = $('#logout-form')
    loginSuccessElement.style.display = 'flex'
    loginBtn.style.display = 'none'
    signupBtn.style.display = 'none'
    usernameElement.innerText = '<%= user.full_name %>'
    profileImg.setAttribute('src', '/img/profile.png')
    profileImg.onclick = () => {
      profileMenu.classList.toggle('active')
    }
    logoutBtn.onclick = (e) => {
      e.preventDefault()
      loginSuccessElement.style.display = 'none'
      loginBtn.style.display = 'flex'
      signupBtn.style.display = 'flex'
      document.cookie = 'isLoggedIn=;expires=Thu, 21 Sep 1979 00:00:01 UTC;'
      loginState == 'false'
      logoutForm.submit()
    }
  }
</script>
</body>
</html>