<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unica</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/4611f582cf.js"></script>
    <link rel="shortcut icon" href="../.././favicon/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../.././css/base.css" />
    <link rel="stylesheet" href="../.././css/header.css" />
    <link rel="stylesheet" href="../.././css/footer.css" />
    <link rel="stylesheet" href="../.././css/homepage.css" />
    <style>
      footer {
        margin-top: 150px;
      }
      body {
        background-color: #f5f5f5;
      }
      .container {
        margin-left: 0;
      }
      .course-content {
        text-align: left;
        width: 50%;
        margin: 150px auto;
        font-size: 20px;
      }
      .form-control {
        height: 35px;
      }
      .course-content input {
        font-size: 20px !important;
      }
      .btn.btn-primary {
        height: 45px;
        font-size: 20px;
        margin-top: 15px;
      }
    </style>
  </head>
<body>
  <header>
    <div class="container">
      <a href="/" class="logo"></a>
      <i class="fa fa-th menu_tablet" aria-hidden="true">
        <div class="menu menu_tablet_content">
          <ul>
            <div class="menu_mobile">
              <button><i class="fa fa-arrow-left menu_mobile_arrow-left" aria-hidden="true"></i></button>
              <img src="/img/logo-unica.svg" alt="" />
            </div>
            <li>
              <a href="#"><i class="fa fa-language"></i>Ngoại ngữ</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả Ngoại ngữ</a></li>
                <li class="sub-menu"><a href="#">Tiếng Hàn</a></li>
                <li class="sub-menu"><a href="#">Tiếng Anh</a></li>
                <li class="sub-menu"><a href="#">Tiếng Trung</a></li>
                <li class="sub-menu"><a href="#">Tiếng Nhật</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-line-chart"></i>Marketing</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả Marketing</a></li>
                <li class="sub-menu"><a href="#">Marketing Online</a></li>
                <li class="sub-menu"><a href="#">Google Ads</a></li>
                <li class="sub-menu"><a href="#">Seo</a></li>
                <li class="sub-menu"><a href="#">Branding</a></li>
                <li class="sub-menu"><a href="#">Content Marketing</a></li>
                <li class="sub-menu"><a href="#">Video marketing</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-desktop"></i>Tin học văn phòng</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả Tin học văn phòng</a></li>
                <li class="sub-menu"><a href="#">Excel</a></li>
                <li class="sub-menu"><a href="#">Word</a></li>
                <li class="sub-menu"><a href="#">PowerPoint</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-paint-brush"></i>Thiết kế</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả Thiết kế</a></li>
                <li class="sub-menu"><a href="#">Thiết kế quảng cáo</a></li>
                <li class="sub-menu"><a href="#">Phần mềm thiết kế</a></li>
                <li class="sub-menu"><a href="#">Thiết kế Web</a></li>
                <li class="sub-menu"><a href="#">Kiến Trúc, Nội Thất</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-rocket"></i>Kinh doanh</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả Kinh doanh</a></li>
                <li class="sub-menu"><a href="#">Bất động sản</a></li>
                <li class="sub-menu"><a href="#">Crypto</a></li>
                <li class="sub-menu"><a href="#">Kinh doanh Online</a></li>
                <li class="sub-menu"><a href="#">Startup</a></li>
                <li class="sub-menu"><a href="#">Kinh doanh Cafe</a></li>
                <li class="sub-menu"><a href="#">Kiếm tiền Online</a></li>
                <li class="sub-menu"><a href="#">Quản trị doanh nghiệp</a></li>
                <li class="sub-menu"><a href="#">Chứng khoán</a></li>
                <li class="sub-menu"><a href="#">Dropshipping</a></li>
                <li class="sub-menu"><a href="#">Kế Toán</a></li>
                <li class="sub-menu"><a href="#">Đầu tư forex</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-lightbulb-o"></i>Kỹ năng mềm</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả Kỹ năng mềm</a></li>
                <li class="sub-menu"><a href="#">Thương hiệu cá nhân</a></li>
                <li class="sub-menu"><a href="#">Tài chính cá nhân</a></li>
                <li class="sub-menu"><a href="#">Đàm phán</a></li>
                <li class="sub-menu"><a href="#">Kỹ năng lãnh đạo</a></li>
                <li class="sub-menu"><a href="#">Quản trị nhân sự</a></li>
                <li class="sub-menu"><a href="#">MC</a></li>
                <li class="sub-menu"><a href="#">Rèn luyện trí nhớ</a></li>
                <li class="sub-menu"><a href="#">Kỹ năng mềm</a></li>
                <li class="sub-menu"><a href="#">Giao tiếp</a></li>
                <li class="sub-menu"><a href="#">Kỹ năng quản lý</a></li>
                <li class="sub-menu"><a href="#">Thuyết trình</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-shopping-cart"></i>Bán hàng</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả Bán hàng</a></li>
                <li class="sub-menu"><a href="#">Bán hàng Online</a></li>
                <li class="sub-menu"><a href="#">Telesales</a></li>
                <li class="sub-menu"><a href="#">Bán hàng livestream</a></li>
                <li class="sub-menu"><a href="#">Chăm sóc khách hàng</a></li>
                <li class="sub-menu"><a href="#">Chiến lược bán hàng</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-code"></i>CNTT</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả CNTT</a></li>
                <li class="sub-menu"><a href="#">Lập trình</a></li>
                <li class="sub-menu"><a href="#">Ngôn ngữ lập trình</a></li>
                <li class="sub-menu"><a href="#">Lập Trình Web</a></li>
                <li class="sub-menu"><a href="#">Lập trình Android</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-heartbeat"></i>Sức khỏe</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả Sức khoẻ</a></li>
                <li class="sub-menu"><a href="#">Giảm cân</a></li>
                <li class="sub-menu"><a href="#">Thiền</a></li>
                <li class="sub-menu"><a href="#">Phòng the</a></li>
                <li class="sub-menu"><a href="#">Giảm stress</a></li>
                <li class="sub-menu"><a href="#">Fitness - Gym</a></li>
                <li class="sub-menu"><a href="#">Tình yêu</a></li>
                <li class="sub-menu"><a href="#">Yoga</a></li>
                <li class="sub-menu"><a href="#">Massage</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-cutlery"></i>Phong cách sống</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả Phong cách sống</a></li>
                <li class="sub-menu"><a href="#">Pha chế</a></li>
                <li class="sub-menu"><a href="#">Làm bánh</a></li>
                <li class="sub-menu"><a href="#">Làm đẹp</a></li>
                <li class="sub-menu"><a href="#">Handmade</a></li>
                <li class="sub-menu"><a href="#">Tử vi</a></li>
                <li class="sub-menu"><a href="#">Ảo thuật</a></li>
                <li class="sub-menu"><a href="#">Nhạc cụ</a></li>
                <li class="sub-menu"><a href="#">Ẩm thực - Nấu ăn</a></li>
                <li class="sub-menu"><a href="#">Nhảy</a></li>
                <li class="sub-menu"><a href="#">Phong thuỷ</a></li>
                <li class="sub-menu"><a href="#">Luyện giọng</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-child"></i>Nuôi dạy con</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả Nuôi dạy con </a></li>
                <li class="sub-menu"><a href="#">Mang Thai</a></li>
                <li class="sub-menu"><a href="#">Dạy con thông minh</a></li>
                <li class="sub-menu"><a href="#">Chăm sóc bé yêu</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-group"></i>Hôn nhân</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả Hôn nhân</a></li>
                <li class="sub-menu"><a href="#">Hạnh phúc gia đình</a></li>
                <li class="sub-menu"><a href="#">Đời sống vợ chồng</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-camera"></i>Nhiếp ảnh, dựng phim</a>
              <ul class="sub-menu-ul">
                <li class="sub-menu"><a href="#">Tất cả Nhiếp ảnh, dựng phim</a></li>
                <li class="sub-menu"><a href="#">Dựng phim</a></li>
                <li class="sub-menu"><a href="#">Chụp ảnh</a></li>
                <li class="sub-menu"><a href="#">Kỹ xảo</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </i>
      <button class="search_btn_mobile">
        <i class="fa fa-search"></i>
        <div class="searchbar">
          <input type="text" placeholder="Tìm khóa học, giảng viên" />
          <i class="fa fa-search search" aria-hidden="true"></i>
        </div>
      </button>
      <div class="searchbar">
        <input type="text" placeholder="Tìm khóa học, giảng viên" />
        <i class="fa fa-search search" aria-hidden="true"></i>
      </div>
      <a href="/courses" class="active_course active_course_show"
        >Danh sách khóa học</i
      ></a>
      <a href="#" class="active_course active_course_hiden"><i class="fa fa-unlock-alt lock" aria-hidden="true"></i></a>
      <a href="/cart" class="cart_a"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
      <div id="login-success" style="margin-top: 8px;">
        <div class="welcome" style="line-height: 17px;">
          <span> Xin chào,</span>
          <p id="username"></p>
        </div>
        <img src="/img/profile.png" class="profile-img" style="margin-top: 2px;
        height: 32px;"/>
        <ul class="profile-menu">
          <li>
            <a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>Vào học</a>
          </li>
          <li>
            <a href="/info"><i class="fa fa-key" aria-hidden="true"></i>Khóa học của tôi</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-user" aria-hidden="true"></i>Cập nhật hồ sơ</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>Nạp thẻ</a>
          </li>
          <li class="line"><a href="#"></a></li>
          <li>
            <a id="logout" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a>
          </li>
        </ul>
      </div>
      <a href="/login" id="login">ĐĂNG NHẬP</a>
      <a href="/register" id="signup">ĐĂNG KÝ</a>
      <div class="login_mobile">
        <i class="fa fa-user"></i>
      </div>
    </div>
    <div class="container row_2_mobile">
      <a href="#" class="active_course_mobile">Kích hoạt khóa học<i class="fa fa-unlock-alt" aria-hidden="true"></i></a>
      <a href="/login" class="signin_mobile">Đăng nhập<i class="fa fa-sign-in" aria-hidden="true"></i></a>
    </div>
  </header>

