<!-- Start Header -->
<%- include("../partials/header") %>
<!-- End Header -->

<!-- Start Container -->
<div class="content">
    <div class="product-detail">
        
    </div>
</div>
  

<!-- End Container -->

<!-- Start Footer -->
<%- include('../partials/footer'); %>
<!-- End Footer -->
