<% if (typeof accessToken == "undefined") {accessToken = " "} %>
<!-- Start Header -->
<%- include("partials/header") %>
<!-- End Header -->

<!-- Start Container -->
<div class="course-content">
  <h1>Hello <span style="color: blue"><%= user.full_name %></span>,</h1>
  <br />
  <h2>Các khóa học của tôi:</h2>
  <br />
</div>

<!-- End Container -->

<!-- Start Footer -->
<%- include('partials/footer'); %>
<!-- End Footer -->

<%- include('partials/checklogin'); %>
