<!-- Start Header -->
<%- include("./partials/header") %>
<!-- End Header -->
<link rel="stylesheet" href="/css/other-courses.css" />
<!-- Start Container -->
<div class="content">
  <div class="main same_price">
    <div class="main_header">
      <div class="same-price-container">
        <form class="searchbar" action="/donggia" method="GET">
          <input type="text" placeholder="Bạn muốn tìm khóa học nào ?" name="key" />
          <div class="btn" onclick="document.querySelector('form.searchbar').submit()">
            <i class="fa fa-search search" aria-hidden="true"></i>
          </div>
        </form>
      </div>
    </div>
    <div class="main_content">
      <div class="same-price-container">
        <div class="row mb-4 d-flex justify-content-start mb-5">
          <% if (categories.length) categories.forEach(category=>{ %>
          <div class="col-4">
            <a href="/other-courses?c=<%- category._id %>"><div class="courses_category"><%- category.name %></div></a>
          </div>
          <% }) %>
        </div>
        <div class="row">
          <div class="grid drag_to_scroll">            
          </div>
        </div>
        <div class="load-more">
          <div class="btn">Xem thêm</div>
        </div>
      </div>
    </div>
  </div>
  <form action="" method="POST" id="add-to-cart-form"></form>
</div>
<!-- End Container -->

<!-- Start Footer -->
<%- include('./partials/footer'); %>
<script src="/js/other-courses.js"></script>
<!-- End Footer -->
